@import '../../../node_modules/@kontorol-ng/mc-theme/themes/default/scss/_variables.scss';

.compact-dashboard-box {
  flex:  1 0 100%;
  min-height: 327px;
  line-height: 16px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;

  .vr {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.75);
  }

  .stream-indicators{
    flex: 1 0 25%;
    min-width: 663px;
    padding: 15px 9px 0 9px;
    display: flex;
    align-items: center;
  }

  stream-configurations {
    width: 100%;
  }

  .stream-information {
    box-sizing: border-box;
    flex: 1 0 70%;
    padding: 25px 20px;
    display: flex;
    flex-flow: row nowrap;
  }

  details-and-preview {
    flex: 0 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 25px 15px;
  }

  further-information {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 40px 40px;
    line-height: 22px;
  }
}
