@import '../../../node_modules/@kontorol-ng/mc-theme/themes/default/scss/_variables.scss';

.stream-info {
  border-radius: 3px;
  background-color: $mainLinkHoverColor;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-self: flex-start;

  .stream-configuration-box {
    flex:  1 0 100%;
    color: $kGrayscale3;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: $kGrayscale3;

    div {
      margin: 12px;
      line-height: 18px;
    }
  }

  further-information {
    flex: 1 1 0%;
    padding: 0 45px;
  }

  .further-information-box {
    align-self: flex-start;
    flex: 1 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid $kGrayscale6;
    border-bottom: 1px solid $kGrayscale6;
    text-align: center;
  }

  .main {
    flex: 1 0 100%;

    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    margin: 0 28px 0 28px;

    .main-left {
      flex: 3;
      border-right: 1px solid $kGrayscale6;
      padding-right: 10px;

      .general-settings {
        margin: 28px;

        // TODO: Move to theme.scss
        /deep/ .ui-tabview .ui-tabview-nav > li.ui-state-default {
          background: none;
        }
        /deep/ .ui-tabview-title {
          font-size: 14px;
        }
      }

    }

    .main-right {
      flex: 4;
    }
  }

  .stream-health-notifications{
    flex: 1 1 100%;
    padding-top: 32px;
  }

  footer {
    flex: 1 0 100%;
    padding: 23px 0 17px 0;
    border-top: 1px solid $kGrayscale6;
    text-align: center;

    .saveInfo {
      width: 100px;
    }
  }
}
