 <div class="streamInfo" [class.compact-mode]="compactMode">
  <div class="preview-player">

    <div *ngIf="_dynamicInfo.streamStatus.state !== 'Live' && _dynamicInfo.streamStatus.state !== 'Preview' && !_dynamicInfo.streamSession.isInProgress" class="not-broadcasting-container" [class.not-broadcasting-container-reverted]="colorsReverted">
      <p class="firstRow" [class.firstRow-reverted]="colorsReverted">{{ 'DETAILS_AND_PREVIEW.preview_player.not_broadcasting' | translate }}</p>
      <p class="secondRow" [class.secondRow-reverted]="colorsReverted">{{ 'DETAILS_AND_PREVIEW.preview_player.video_no_available_explanation' | translate }}</p>
    </div>

    <k-player *ngIf="(_dynamicInfo.streamStatus.state === 'Live' || _dynamicInfo.streamStatus.state === 'Preview') || _dynamicInfo.streamSession.isInProgress"
              [cdnUrl]="_player.configuration.serviceUrl" [pid]="_player.configuration.partnerId" [uiconfid]="_player.configuration.uiConfId"
              [entryid]="_player.configuration.entryId" [width]="'100%'" [height]="'100%'" [flashvars]="_player.configuration.flashVars"
              (kontorolPlayerReady)="_onPlayerReady($event)"></k-player>

    <div *ngIf="_explicitLiveInformation.enabled && (_dynamicInfo.streamStatus.state === 'Preview')">
      <span class="preview_label" [class.preview_label_FS]="_inFullScreen" *ngIf="_explicitLiveInformation.previewMode">{{ 'DETAILS_AND_PREVIEW.preview_player.preview_label' | translate }}</span>
    </div>
  </div>

  <div *ngIf="!compactMode">
    <div class="go-live-div" *ngIf="_explicitLiveInformation.enabled">
      <button *ngIf="_explicitLiveInformation.previewMode" pButton type="button"
              class="ui-button kButtonBranded go-live-button start" [class.start-live-wait]="_explicitLiveWaitFlag"
              label="{{ 'DETAILS_AND_PREVIEW.explicit_live.go_live_button' | translate }}"
              [disabled]="_dynamicInfo.streamStatus.state === 'Initializing' || _dynamicInfo.streamStatus.state === 'Offline'"
              (click)="_onClickGoLive()"
      ></button>
      <button *ngIf="!_explicitLiveInformation.previewMode" pButton type="button"
              class="ui-button kButtonDanger go-live-button stop" [class.stop-live-wait]="_explicitLiveWaitFlag"
              label="{{ 'DETAILS_AND_PREVIEW.explicit_live.end_live_button' | translate }}"
              [disabled]="_dynamicInfo.streamStatus.state === 'Initializing' || _dynamicInfo.streamStatus.state === 'Offline'"
              (click)="_onClickEndLive()"
      ></button>
    </div>
    <p-confirmDialog [width]="385" [height]="257" [closable]="false" #explicitLiveConfirmationBox>
      <p-footer>
        <button type="button" pButton class="ui-button accept-button" label="{{'DETAILS_AND_PREVIEW.explicit_live.end_live_alert.accept_button' | translate}}" (click)="explicitLiveConfirmationBox.accept()"></button>
        <button type="button" pButton class="ui-button reject-button" label="{{'DETAILS_AND_PREVIEW.explicit_live.end_live_alert.reject_button' | translate}}" (click)="explicitLiveConfirmationBox.reject()"></button>
      </p-footer>
    </p-confirmDialog>
  </div>

  <div *ngIf="!compactMode" class="details">
    <h1>{{ 'DETAILS_AND_PREVIEW.stream_details.details' | translate }}</h1>
    <div class="content">
      <div class="row" >
        <span class="left">{{ 'DETAILS_AND_PREVIEW.stream_details.creator' | translate }}</span>
        <span class="right" [kTooltip]="_liveEntry.creatorId" [maxWidth]="150">{{_liveEntry.creatorId}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'DETAILS_AND_PREVIEW.stream_details.creation_date' | translate }}</span>
        <span class="right" [kTooltip]="_liveEntry.createdAt | localeTime: true" [maxWidth]="180">{{_liveEntry.createdAt | localeTime}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'DETAILS_AND_PREVIEW.stream_details.type' | translate }}</span>
        <span class="right">{{_liveEntry.mediaType | entryType}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'DETAILS_AND_PREVIEW.stream_details.moderation' | translate }}</span>
        <span class="right">{{_liveEntry.moderationStatus | moderation}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'DETAILS_AND_PREVIEW.stream_details.plays' | translate }}</span>
        <span class="right">{{_liveEntry.plays}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'DETAILS_AND_PREVIEW.stream_details.entry_id' | translate }}</span>
        <span class="right">{{_liveEntry.id}}</span>
      </div>
    </div>
  </div>
</div>
