@import '../../../node_modules/@kontorol-ng/mc-theme/themes/default/scss/_variables.scss';

.streamInfo {
  min-height: 480px;
  width: 279px;
  background-color: $mainLinkHoverColor;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.24);

  &.compact-mode {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 85%;
    min-height: 0;
    max-height: 200px;
    min-width: 257px;
    background: transparent;
  }

  .preview-player {
    height: 100%;
    min-height: 158px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    .preview_label {
      color: $mainLinkColor;
      font-size: 14px;
      font-weight: bold;
      border: solid 2px $mainLinkColor;
      border-radius: 4px;
      padding: 3px 11px;
      position: absolute;
      left: 15px;
      top: 15px;
    }

    .preview_label_FS {
      font-size: 32px;
      left: 30px;
      top: 30px;
      padding: 15px 11px;
      border: solid 3px $mainLinkColor;
      border-radius: 7px;
      z-index: 10000000001;
    }

    .not-broadcasting-container {
      height: 100%;
      min-height: 158px;
      background-color: $kGrayscale6;
      border-radius: 4px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      p {
        opacity: 0.5;
        margin: 0;
      }
      .firstRow {
        color: $kGrayscale1;
        margin-bottom: 7px;
      }
      .secondRow {
        color: $kGrayscale3;
      }
      .firstRow-reverted {
        color: #FFFFFF;
      }
    }
    .not-broadcasting-container-reverted {
      background-color: #514f4f;
    }
    .goLive-div {
      text-align: center;
    }
  }

  .go-live-div {
    padding: 12px 90px;

    .go-live-button {
      height: 34px;
      width: 100px;
      border: none;
      &.start {
        &:hover {
          background: darken($kPrimary, 10%);
        }
        &:active {
          box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.50);
        }
        &:disabled {
          color: $kGrayscale4;
          background: transparent;
          border: 1px solid $kGrayscale4;
          cursor: none;
          box-shadow: none;
        }
      }

      &.start-live-wait {
        background: $kPrimary;
        animation: stripes-move 1s linear infinite;
        background-image: repeating-linear-gradient(-60deg, $kPrimary, $kPrimary 16px, rgba(255,255,255,0.2) 16px, rgba(255,255,255,0.1) 36px);
        background-size: 200% 200%;
        cursor: not-allowed;
        opacity: 0.65;
      }

      &.stop {
        &:hover{
          background: darken($kDandger, 10%);
          border: 0px solid darken($kDandger, 10%);
        }
        &:active:not(:disabled){
          box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
        }
        //&:disabled{
        //  @extend .disabled;
        //}
      }

      &.stop-live-wait {
        background: $kDandger;
        animation: stripes-move 1s linear infinite;
        background-image: repeating-linear-gradient(-60deg, $kDandger, $kDandger 16px, rgba(255,255,255,0.2) 16px, rgba(255,255,255,0.2) 36px);
        background-size: 200% 200%;
        cursor: not-allowed;
        opacity: 0.65;
      }
    }
  }

  .details {
    border-top: 1px solid $kGrayscale4;
    //height: 70%;
    padding: 24px 16px;

    box-sizing: border-box;

    h1 {
      margin: 0 0 21px 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: $kGrayscale1;
    }
    .content {
      .row {
        display: flex;
        margin-bottom: 20px;
        overflow-x: hidden;

        span {
          line-height: 18px;
        }

        .left {
          flex: 0 0 50%;
          max-width: 50%;
          color: $kGrayscale3;
          font-weight: 400;
        }
        .right {
          flex: none;
          max-width: 50%;
          color: $kGrayscale1;
        }
      }
    }
  }
}

/deep/ .ui-dialog {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

  &.ui-widget {
    .ui-dialog-titlebar {
      background: #ffffff;
      font-size: 24px;
      line-height: 29px;
    }

    .ui-widget {
      padding: 0 20px;
      margin-bottom: 1px;
    }
  }

  &.ui-confirmdialog {
    .ui-dialog-content.ui-widget-content {
      line-height: 24px;
      font-size: 15px;
      color: $kGrayscale1;
    }

    .ui-dialog-footer {
      border: none;
      border-top: 1px solid #D5D5D5;
      padding-top: 20px;

      .ui-button-text {
        padding: 0;
      }

      button {
        height: 34px;
        width: 100px;
        margin: 0 10px;

        &.accept-button{
          color: #ffffff;
          background: $kDandger;
          border: 0px solid $kDandger;
          &:hover {
            background: darken($kDandger, 10%);
            border: 0px solid darken($kDandger, 10%);
          }
          &:active:not(:disabled){
            box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
          }
        }

        &.reject-button {
          color: $kGrayscale1;
          background: #ffffff;
          border: 1px solid $kGrayscale4;
          &:hover{
            color: $kPrimary;
            background: #ffffff;
            border: 1px solid $kGrayscale4;
          }
          &:active:not(:disabled){
            box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
          }
        }
      }
    }
  }
}

@keyframes stripes-move {
  100% {
    background-position: 100% 100%;
  }
}
