@import '../../node_modules/@kontorol-ng/mc-theme/themes/default/scss/variables.scss';

.app-window {
  width: 100%;
  overflow: hidden;
}

.app-window-reverted-color {
  background: #131213;
  border-radius: 6px;

  ::-webkit-scrollbar {
    background-color: rgba(64, 61, 61, 0.6);
    width: 0.75em;
  }

  ::-webkit-scrollbar-corner {
    background-color: rgba(64, 61, 61, 0.6);
  }
}

.default-mode {
  max-width: 1280px;
  min-width: 1035px;
  max-height: 655px;
  padding: 28px 28px 62px 31px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.24);

  footer {
    text-align: right;
    margin-right: 60px;

    .beta-message {
      color: $kGrayscale2;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
    }
  }
}

.compact-window {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: auto;

  &.colors_reverted {
    background-color: rgba(64, 61, 61, 0.6);
  }

}
