@import '../../../../node_modules/@kontorol-ng/mc-theme/themes/default/scss/variables';

.stream-configurations {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
  margin-bottom: 22px;

  &.compact {
    font-size: 13px;
    margin: 25px 16px;
  }

  .property {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;

    .configuration-label {
      font-size: 13px;
      font-weight: 600;

      &.colors_reverted {
        color: #FFFFFF;
      }
    }

    .label-icon-duo {
      display: flex;
      flex-flow: row nowrap;

      label {
        margin-right: 5px;
      }
    }

    .infoIcon {
      font-size: medium;
    }

    .configuration-status {
      margin-top: 14px;
      margin-left: -1px;

      .bullet {
        font-size: 60px;
        margin-left: -4px;


      }

      .state {
        margin-left: 4px;
        vertical-align: top;
        font-weight: 400;

        &.colors_reverted {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      &.elapsed-time {
        .bullet {
          color: transparent;
        }
      }
    }
  }
}
