/* You can add global styles to this file, and also import other style files */

$mc-theme-font-path : '../node_modules/@kontorol-ng/mc-theme/themes/default/fonts';

@import '../node_modules/@kontorol-ng/mc-theme/themes/default/scss/variables.scss';
@import '../node_modules/@kontorol-ng/mc-theme/themes/default/scss/index.scss';

* {
  font-size: 15px;
}

k-area-blocker {
   .loading-backdrop .spinner-container {
      position: absolute;
      top: 50%;
      left: 50%;
  }
}

.ng-tooltip {

}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.bullet-grey {
  color: $kGrayscale2;
}

.bullet-green {
  color: $kSuccess;
}

.bullet-yellow {
  color: #fdd304;
}

.bullet-red {
  color: $kDandger;
}

.alignLeft {
  text-align: left;
}

.flexIt{
  flex: 1 1 auto;
}

.background-reverted-color {
  background: #131213;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  background-color: $kGrayscale7;
  width: 0.75em;
}

::-webkit-scrollbar-thumb {
  background-color: #514f4f;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: $kGrayscale7;
}
